<body class='bg-gray-100 fish'>
  <h1 class="space-mono font-bold text-slate-50 text-[2rem] py-0 px-4 rounded absolute top-4 left-4">TACO'D</h1>
  <div class='min-h-screen flex items-center justify-center'>
    <div class='bg-white p-8 rounded-lg shadow-md max-w-md w-full opacity-90'>
      <h2 class='text-2xl font-bold mb-4'>Sign Up</h2>
      <form class='signup-form'>
        <div class='mb-4'>
          <label for='name' class='block font-bold mb-2'>Name</label>
          <input
            type='text'
            id='name-signup'
            placeholder='Enter your name'
            name='name'
            required
            class='w-full border border-gray-300 p-2 rounded-lg'
          />
        </div>
        <div class='mb-4'>
          <label for='email' class='block font-bold mb-2'>Email</label>
          <input
            type='email'
            id='email-signup'
            placeholder='Enter your email'
            name='email'
            required
            class='w-full border border-gray-300 p-2 rounded-lg'
          />
        </div>
        <div class='mb-4'>
          <label for='password' class='block font-bold mb-2'>Password</label>
          <input
            type='password'
            id='password-signup'
            placeholder='Enter your password'
            name='password'
            required
            class='w-full border border-gray-300 p-2 rounded-lg'
          />
        </div>
        <div class='mb-4'>
          <label class='block font-bold mb-2'>Confirm Password</label>
          <input
            id='confirm-password-signup'
            type='password'
            placeholder='Confirm your password'
            name='confirm-password'
            required
            class='w-full border border-gray-300 p-2 rounded-lg'
          />
        </div>
        <button
          type='submit'
          class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'
        >
          Sign Up
        </button>
      </form>
      <div class='mt-4 text-sm text-gray-600'>
        Already have an account?
        <a href='/login' class='text-blue-500'>Log in</a>
      </div>
    </div>
  </div>
</body>

<script src='/js/signup.js'></script>